.card-img {
  width: 100%;
}

.suit-img {
  height: 120px;
  width: 100px;
  display: none;
}

.show {
  display: block;
}

.card-container {
    width: 160px;
    height: 220px;
}

.card {
  width: 100%;
  height: 100%;
  transition: transform .5s ease-in-out;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}

.active {
    transform: rotateY(180deg);
}

.card-front {
    width: 100%;
    height: 100%;
    position: absolute;
}

.card-back {
    transform: rotateY(-180deg);
    backface-visibility: hidden;
    background: white;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}
