html {
  font-size: 62.5%;
}

body {
  background: radial-gradient(rgb(41, 41, 41) 15%, transparent 16%) 0 0,
    radial-gradient(rgb(41, 41, 41) 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 20%) 8px 9px;
  background-color: #525252;
  background-size: 16px 16px;
}

.wrapper {
  max-width: 800px;
  width: 90%;
  margin: 0 auto;
  height: 100%;
}

.game {
  height: 90vh;
  position: relative;
  @include big-phone{
    height: 100vh;
  }
}

h1 {
  font-size: 6.4rem;
  font-family: "Black Ops One", sans-serif;
  text-transform: uppercase;
  text-shadow: 2px 2px black;
  color: $offWhite;
}

h3 {
  font-size: 2.5rem;
  margin: 10px;
  text-align: center;
  border-bottom: 2px solid $offWhite;
  @include big-phone {
    font-size: 2rem;
  }
}

p {
  font-size: 2rem;
  text-align: center;
  margin: 10px;
}

.play-button,
.reset-button,
.rules-button {
  width: 150px;
  height: 50px;
  border: none;
  color: $offWhite;
  font-size: 20px;
  background: $blue;
  border-radius: 3px;
  font-family: "Open Sans", sans-serif;
  box-shadow: $boxShadow;
  cursor: pointer;
}

.match button,
.war button,
.close-button {
  width: 150px;
  height: 50px;
  border: none;
  color: $blue;
  font-size: 2rem;
  background: $offWhite;
  border-radius: 3px;
  font-family: "Open Sans", sans-serif;
  box-shadow: $boxShadow;
  cursor: pointer;
  &:active {
    background: #bebebe;
  }
  @include tablet {
    width: 140px;
    height: 40px;
    font-size: 1.6rem;
  }
}

div.fadeOut {
  opacity: 0;
  pointer-events: none;
}

div.fadeIn {
  opacity: 1;
  pointer-events: all;
}

div.hide {
  display: none;
}
