html {
  font-size: 62.5%;
}

.wrapper {
  max-width: 800px;
  width: 90%;
  margin: 0 auto;
}
section {
  height: 100vh;
  background-color: $tan;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 2.5rem;
  margin: 10px;
  text-align: center;
  border-bottom: 2px solid $offWhite;
}

p {
  font-size: 5rem;
  text-align: center;
  margin: 10px;
}

.intro button {
  width: 150px;
  height: 50px;
  border: none;
  color: $offWhite;
  font-size: 20px;
  background: $blue;
  border-radius: 3px;
  cursor: pointer;
}

.match button, .war button {
  width: 150px;
  height: 50px;
  border: none;
  color: $blue;
  font-size: 20px;
  background: $offWhite;
  border-radius: 3px;
  cursor: pointer;
}

div.fadeOut {
  opacity: 0;
  pointer-events: none;
}

div.fadeIn {
  opacity: 1;
  pointer-events: all;
}
