.header {
  display: none;
  @include big-phone {
    display: flex;
    align-items: center;
    justify-content: center;
    h1 {
      margin: 0;
    }
  }
}

.intro {
  color: $offWhite;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  transition: opacity 0.5s ease;
  text-align: center;
}
