.score {
  color: $offWhite;
  height: 20vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  transition: opacity 0.5s ease 0.5s;
}

.player-score, .computer-score {
  height: 120px;
  width: 180px;
  background: url(../assets/chalkboard.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border: 5px solid #EDC170;
}