.war {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.5s ease 0.5s;
  width: 800px;
  height: 400px;
  border: 20px solid #26211c;
  background: #283f5f;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.war-description {
  font-size: 2rem;
  color: $offWhite;
}

.war-countdown{
  color: $offWhite;
  font-size: 5rem;
}

.war-winner {
  color: $offWhite;
  font-size: 2.5rem;
  padding-top: 50px;
  margin: 0;
  min-width: 180px;
}