.war {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -35%);
  transition: opacity 0.5s ease 0.5s;
  width: 800px;
  height: 400px;
  border: 20px solid #26211c;
  background: #283f5f;
  border-radius: 40px;
  box-shadow: $boxShadow;
  display: flex;
  align-items: center;
  justify-content: space-around;
  @include tablet {
    width: 600px;
  }
  @include big-phone {
    transform: translate(-50%, -40%);
    flex-direction: column;
    justify-content: space-around;
    height: 500px;
    max-width: 80%;
  }
  @include small-phone {
    transform: translate(-50%, -60%);
  }
}

.war-text {
  @include big-phone {
    display: flex;
    flex-direction: column-reverse;
    height: 30%;
  }
}

.war-description {
  font-size: 2rem;
  color: $offWhite;
}

.war-countdown {
  color: $offWhite;
  font-size: 5rem;
}

.war-winner {
  color: $offWhite;
  font-size: 2.5rem;
  padding-top: 50px;
  margin: 0;
  min-width: 180px;
}
